<!-- views/dashboard.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to Your Dashboard</h1>
    <p>Name: <%= user.firstname %></p>
    <p>Email: <%= user.email %></p>

    <!-- Use a form to trigger logout -->
    <form action="/users/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
