<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tag
  -->
  <title>Hacked 8 Academy</title>
  <meta name="title" content="Hacked8Academy - The Best Program to Enroll for Exchange">
  <meta name="description" content="This is an education html template made by adaintech">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="/images/Hacked9.png" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/reg.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">

  <!-- 
    - preload images
  -->
  

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="/images/Hacked9.png" width="60" height="60" alt="Hacked8 logo">
      </a>

      <nav class="navbar" data-navbar>

        <div class="wrapper">
          <a href="#" class="logo">
            <img src="/images/Hacked9.png" width="60" height="60" alt="Hacked8 logo">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="/" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li class="navbar-item">
            <a href="/about" class="navbar-link" data-nav-link>About</a>
          </li>

          <li class="navbar-item">
            <a href="/course" class="navbar-link" data-nav-link>Courses</a>
          </li>

          <li class="navbar-item">
            <a href="/instructor" class="navbar-link" data-nav-link>Instructors</a>
          </li>

          <li class="navbar-item">
            <a href="/contact" class="navbar-link" data-nav-link>Contact</a>
          </li>

          
          <li class="navbar-item">
            <a href="#blog" class="navbar-link" data-nav-link></a>
          </li>

        </ul>

      </nav>

      <div class="header-actions">

        <button class="header-action-btn" aria-label="toggle search" title="Search">
          <!-- <ion-icon name="search-outline" aria-hidden="true"></ion-icon> -->
        </button>

        <!-- <button class="header-action-btn" aria-label="cart" title="Cart">
          <ion-icon name="cart-outline" aria-hidden="true"></ion-icon> -->

          <!-- <span class="btn-badge">0</span> -->
        </button>

        <a href="#" class="btn has-before" style="background-color:#FFC700;">
          <span class="span">Login/Register</span>

          <!-- <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon> -->
        </a>

        <button class="header-action-btn" aria-label="open menu" data-nav-toggler>
          <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>

      </div>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>


  
    <!-- container start -->
     <div id="container">
        <!-- form wrap start -->
        <div class="form-wrap">
            <h1 style="color:  #000;">Sign Up</h1>
            <div class="fre">
             <p><span></span><span><i class="fa fa-car"></i></span></p>
            </div>
            <!-- form start -->
            <form  action="/users/register" method="POST">
                <p id="error" style="color: red; font-size: 12px; font-family: monospace;"></p>
                <div class="form-group">
                <label for="First-name">First Name:</label>
                <input type="text" name="firstname" id="firstname" required>
                
                </div>
                <div class="form-group">
                    <label for="Last-name">Last Name:</label>
                    <input type="text" name="lastname" id="lastname" required>
                    </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                </div>
              

                    <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                    </div>

                      
                     

                    

                   
                <button type="submit" ><i class="fa fa-book"></i><a href="">Sign Up </a></button>
                <p class="button-class">By clicking the sign up button, you agree to our Term & Condition</a> and Privacy Policy</p>
            <!-- form close -->
        </form>
        
        </div>
        <!-- form wrap close -->
        <footer>
            <p>Already Have an Account<a href="/login" style="color: #FFC700;">Login Here<i class=""></i></a></p>
        </footer>
     </div>
     <!-- container start -->
   
    </body>
    </html>